//colors
$morado : #5B3F8D;
$lila: #A67CC9;
$gris: #1F1F2B;
$blanco : #EDE9F0;
$fondo: #A0AEC0;
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: $gris;
    /*configuration for the header*/
    header{
        
        .container{
            display: flex;
            flex-direction: row;
            width: 100%;
            background-color: $gris;
            .menu-toggle{
                display: none;
            }
                 
              img{
                width: 50px;
                height: 50px;
            }
            
        .nav{
            display: flex;
            
            ul{
                display: flex;
                gap: 20px;
                
                li{
                    gap: 15px;
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: $blanco;
                        transition: all 0.6s ease;
                        
                    }
                    a:hover{
                        color: $gris;
                            background-color: $fondo;
                            border-radius: 10px;
                            padding: 10px;
                        }
                    
                }
            }
        }

        }
    }
    /*Configuration made for the slideshow for the hero*/
    .pictures {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.pictures ul {
    display: flex;
    width: 500%;
    height: 600px;
    margin: 0;
    padding: 0;
    animation: cambio 15s infinite ease;
}

.pictures li {
    list-style: none;
    width: 20%;
    height: 600px;
}

.pictures img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
}
/*CSS word used for animations*/
@keyframes cambio {
    0% { margin-left: 0%; }
    20% { margin-left: 0%; }

    20% { margin-left: -100%; }
    40% { margin-left: -100%; }

    40% { margin-left: -200%; }
    60% { margin-left: -200%; }

    60% { margin-left: -300%; }
    80% { margin-left: -300%; }

    80% { margin-left: -400%; }
    100% { margin-left: -400%; }
}
/*Hero text configuration*/
.hero{
    color: #ffffff;
    position: absolute;
    top: 6%;
    left: 0%;
    transform: translate(-50% -50%);
    padding: 20px;
    
    width: 20%;
    height: 560px;
    align-content: center;
   
}

.hero h1{
    text-align: center;
    font-size: 90px;
}
.hero p{
    text-align: center;
    font-size: 50px;
}
.btn{
    background-color: $morado;
    padding: 10px;
    border-radius: 10px;
    margin-left: 100px;
    transition: all 0.4s ease;
}
.btn:hover{
    padding: 15px;
}
.hero a{
        color: $blanco;
        text-decoration: none;
        
    
}
/*Events section using a table con display*/
#events{
    margin-top: 10px;
    text-align: center;
    align-content: center;
    height: 20rem;
}
.events_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  width: 95%;
  

  
  
  h2{
    color: $blanco;
  }
  
}


.events_table thead {
    
  width: 100%;
  background-color: $morado;
  font-weight: bold;
  margin-left: 15px;
 
  
}

tr, td {
    font-size: 20px;
    color: $blanco;
    padding: 6px;
    text-align: center;
    border: 0;
    border-collapse: collapse;
  

}
.clase{
  
    background-color: #A0AEC0;
}
.clase1{
    
    background-color:  #777f8a;
}
.er{
    
    background-color: $lila;
}
.boton{
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}
/*Part made to allow the page to see al the images as a grid*/
    #Multimedia {
        color: #EDE9F0;
        font-size: 40px;
        
    }
/*Footer configuration*/
    #footer {
    background-color: #1b5e20; 
    color: #fff;

   
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

#year {
    display: flex;
    flex-direction:row;
    gap: 8px;
    
}

p{color: #fff;}

.social a {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;

}

.social a:hover {
    text-decoration: underline;
}
ul.social{
    display: flex;
    gap: 12px;
}
.container_footer_content {
    display: flex;
    gap: 90rem;
}

}



        
/*Media queries configurations only for mobile devices
most of the grid was put there to be able to quicly add the responsive feature*/
@media(max-width:480px){
    nav{
        width: 100%;
        display: none!important;
    }
    .btn{
        width: 30rem;
        margin-left: 0!important;
    }
    .pictures{
        height: 600px!important;
    }
    .hero{
        width: 70%!important;
       text-align: center!important;
        h1{
            font-size:50px!important ;}
        height: 300px!important;
        p{
            font-size: 30px!important;
        }
        a{
            width: 200px!important;
        }
    }
    #events{
        margin-left: 15px!important;
        
    }
    #about{
        padding: 10px;
        background-color: #0e0e13;
        height: 20rem!important;
    }
    .parent{
        display: flex !important;
        flex-direction: row;
        gap: 15px;
        margin-top: 10px;
    }
    .div1 { grid-area: 1 / 2 / 2 / 3;


}
img.div1{
    width: 40%;
    height: 60%;
    border: 2px solid $morado;
    border-radius: 10px;
}
.div2 {grid-area: 1 / 3 / 2 / 4;
    
    height: 60%;
    color: $blanco;
    align-items: flex-start;
    border: 2px solid $morado;
    border-radius: 10px;
    h3{
        color: $lila;
    }
}



.img1 { grid-area: 1 / 1 / 2 / 2; }
img.img1{
    width: 350px;
    border-radius: 10px;
    border: 2px solid $morado;
}
.img2  { grid-area: 1 / 2 / 2 / 3; }
img.img2{
  width: 350px;
  border-radius: 10px;
  border: 2px solid $morado;
}
.img3 { grid-area: 1 / 3 / 2 / 4; }
img.img3{
    width: 350px;
    border-radius: 10px;
    border: 2px solid $morado;
}
.img4  { grid-area: 2 / 1 / 3 / 2; }
img.img4{
    width: 350px;
    border-radius: 10px;
    border: 2px solid $morado;
}
.img5 { grid-area: 2 / 2 / 3 / 3; }
img.img5{
    width: 350px;
    border-radius: 10px;
    border: 2px solid $morado;
}
.img6  { grid-area: 2 / 3 / 3 / 4; }
img.img6{
    width: 350px;
    border-radius: 10px;
    border: 2px solid $morado;
}
.video { grid-area: 1 / 3 / 3 / 6; }
iframe.video{
    width: 350px;
    border-radius: 10px;
    border: 2px solid $morado;
}
.footer{
    margin-bottom: -100rem;
}



}
/*Another media querie to allow the page to show the contents on all the page 
and not be restricted by the another rule*/
@media(min-width:1024px){
    .container{
        gap: 80%;
    }
    .events_container{
        margin-left: 30px;
        height: 20rem;
    }
    .parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
align-items: center;
margin-right: 500px;
margin-top: -50px;
gap: 30px;
}
#about{
    background-color: #0e0e13;
    width: 100%;
   
     height: 100%;
     h2{
        color: $blanco;
        
    }
}
.div1 { grid-area: 1 / 2 / 2 / 3;

}
img.div1{
    width: 100%;
    height: 60%;
    border: 5px solid $morado;
    border-radius: 10px;
}
.div2 {grid-area: 1 / 3 / 2 / 4;
    color: $blanco;
    align-items: flex-start;
    width: 20rem;
    margin-top: -15rem;
     h3{
        color: $lila;
    }
}
img.img1 {
    border: 2px solid mediumorchid;
    border-radius: 10px;
}
img.img2 {
    border: 2px solid mediumorchid;
    border-radius: 10px;
}

img.img3 {
    border: 2px solid mediumorchid;
    border-radius: 10px;
}

img.img4 {
    border: 2px solid mediumorchid;
    border-radius: 10px;
}

img.img5 {
    border: 2px solid mediumorchid;
    border-radius: 10px;
}

img.img6 {
    border: 2px solid mediumorchid;
    border-radius: 10px;
}


.container.footer_content {
    display: flex;
    gap: 100rem;
}
.social a{
    color: #fff;
    text-decoration: none;
}
.social li{
    list-style: none;
}


}

